<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a href="Identity/Account/Manage">Manage your account</a>
        <form action="Identity/Account/Logout" method="post">
            <button type="submit" class="btn btn-link">Logout</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Login</a>
        <a href="Identity/Account/Register">Register</a>
    </NotAuthorized>
</AuthorizeView>