.pastevent-container {
    width: 100%;
    max-width: 850px; /* Container width */
    margin: 0 auto; /* Center the container */
    padding: 0 10px; /* Optional: Padding for better spacing */
}

.card-body {
    width: 100%;
}

.table-wrapper {
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS devices */
    max-width: 100%; /* Full width */
}

.table {
    width: 100%; /* Full width for table */
    table-layout: fixed; /* Prevent content from overflowing and causing table distortion */
    word-wrap: break-word; /* Wrap long words */
}

@media (max-width: 768px) {
    .table th, .table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; /* Truncate long text with ellipsis */
    }
}
