.pastevent-container {
    max-width: 825px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;
}