@inherits LayoutComponentBase

<PageTitle>UFCApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <!-- Add ToastContainer here to display toasts globally -->
        <BlazoredToast.ToastContainer />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
